# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules/
/bower_components/

# compiled output
/build/dist/
/build/node_modules/
/dist
/tmp

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
