<thead>
  <tr>
    <th>Players</th>
    {{#each players as |player|}}
      <th>{{player}}</th>
    {{/each}}
  </tr>
</thead>
<tbody>
  <tr>
    <td>Runs</td>
    {{#each runs as |run|}}
      <td>{{run}}</td>
    {{/each}}
  </tr>
  <tr>
    <td>Balls</td>
    {{#each balls as |ball|}}
      <td>{{ball}}</td>
    {{/each}}
  </tr>
  <tr>
    <td>Wicket Taker</td>
    {{#each wickets as |wicket|}}
      <td>{{wicket}}</td>
    {{/each}}
  </tr>
</tbody>
